.container-posts {
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 3px;
    grid-template-areas: 
        "hd"
        "main"
        "ft";
}
.content-posts {
    grid-area: main;
    padding: 0 1.0rem;
    display: flex;
    flex-direction: column;
}
article {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    box-shadow: 2px 2px #dedede;
    padding: 0.8rem;
    margin: 0.6rem 0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 3px;
    grid-template-areas: 
        "im im tt tt"
        "im im tt tt"
        "ss ss ss ss"
        "mm mm mm mm"
        "mm mm mm mm"
        "mm mm mm mm"
        "mm mm mm mm"
}
.post-img {
    grid-area: im;
    display: flex;
    flex-direction: column;
}
.post-ttl {
    grid-area: tt;
}
.post-sub {
    background-color: #e5e6af;
    border-radius: 5px;
    padding: 0.5rem;
    grid-area: ss;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "pl pl pl pl"
        "pv pa pa pa"
        "pb pb pb pb"
}
.post-main {
    grid-area: mm;
}
.post-player-card {
    width: 75%;
    margin: auto;
}
.post-logo {
    width: 50%;
    margin: auto;
}
.post-team-img>h4 {
    margin: auto;
}
figcaption {
    font-size: 1.0rem;
    font-variant: small-caps;
    font-style: italic;
    text-align: center;
    margin: auto;
    width: 75%
}
q {
    font-style: italic;
}
.post-avatar {
    width: 75%;
    border-radius: 50%;
    box-shadow: 3px 3px #b7bb79;
    grid-area: pv;
}
.post-lead {
    text-decoration: underline;
    grid-area: pl;
}
.post-author {
    grid-area: pa;
}
.post-bio {
    grid-area: pb;
    font-size: 0.8rem;
}
.score {
    color: #c52323;
    font-size: 1.5rem;
}
